<div class="chef-board">
  <div class="board-grid">

    <app-order-status-column title="Placed" color="placed" [orders]="placed">
    </app-order-status-column>

    <app-order-status-column title="Preparing" color="preparing" [orders]="preparing">
    </app-order-status-column>

    <app-order-status-column title="Ready" color="ready" [orders]="ready">
    </app-order-status-column>

    <app-order-status-column title="Served" color="served" [orders]="served">
    </app-order-status-column>

  </div>
</div>