.app-wrapper {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.full-box {
    width: 100%;
    min-height: 350px;
    border-radius: 16px;
    background: #ffffff;
    border: 1px solid var(--border-light);
    border-left: 6px solid var(--primary);
}

.full-box h3 {
    color: var(--primary);
}