<div class="app-wrapper py-5">

  <!-- MAIN TITLE -->
  <h1 class="text-center mb-5">Kitchen Board</h1>

  <!-- MANAGEMENT BOARD -->
  <div class="full-box shadow-sm p-4 mb-4">

    <h3 class="fw-bold mb-3">Management Board</h3>
    <hr>

    <app-management-board></app-management-board>

  </div>

  <!-- CHEF BOARD -->
  <div class="full-box shadow-sm p-4 mb-4">

    <h3 class="fw-bold mb-3">Chef Board</h3>
    <hr>

    <app-chef-board></app-chef-board>

  </div>

</div>

<app-toast #globalToast></app-toast>